*{
    background-color: rgb(7, 18, 77);
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem
}
h1{
    color: white;
    text-decoration: underline;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.labelInput{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.labelInput label {
    color: white;
    font-size: 1.2rem;
}
.labelInput input {
    border: 1px solid rgba(255, 255, 255, 0.215);
    border-radius: .25rem;
    padding: 1rem 0;
    color:white;
    width: 40vw;
}
form button {
    font-size: 2rem;
    border-radius: .25rem;
    width: 100%;
    background-color: rgb(15, 15, 199);
}

form button:hover{
    cursor: pointer;
    background-color: rgb(29, 66, 253);
}